<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Southwick's Storage">
	<meta name="author" content="Kyle Gagnon">

	<title>Southwick's Storage</title>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<link href="/css/modern.css" rel="stylesheet">
	<script src="/js/settings.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</head>
<body>
	<div class="splash active" th:fragment="navbar-header">
		<div class="splash-icon"></div>
	</div>
	<div class="wrapper">
		<nav th:fragment="navbar" id="sidebar" class="sidebar">
			<a class="sidebar-brand" href="/">
				<svg>
					<use xlink:href="#ion-ios-pulse-strong"></use>
				</svg>
				Southwick's Storage
			</a>
			<div class="sidebar-content">
				<div class="sidebar-user">
					<div class="fw-bold">
						<span sec:authentication="principal.firstName">Name</span><span> </span><span sec:authentication="principal.lastName">Last</span>
					</div>
					<small sec:authentication="principal.role">Role</small>
				</div>

				<ul class="sidebar-nav">
					<li class="sidebar-header">
						Main
					</li>
					<li class="sidebar-item">
						<a data-bs-target="#home" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-home"></i> <span class="align-middle">Home</span>
						</a>
						<ul id="home" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/">Home</a></li>
						</ul>
					</li>
					<li class="sidebar-header">
						View
					</li>
					<li class="sidebar-item">
						<a data-bs-target="#view" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-list"></i> <span class="align-middle">View</span>
						</a>
						<ul id="view" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a sec:authorize="hasRole('MANAGER')" class="sidebar-link" href="/">Storage Items</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Stand Items</a></li>
							<li class="sidebar-item"><a sec:authorize="hasRole('MANAGER')" class="sidebar-link" href="/view/users">Users</a></li>
							<li class="sidebar-item"><a sec:authorize="hasRole('MANAGER')" class="sidebar-link" href="/">Audit Log</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-header">
						Create
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-item">
						<a data-bs-target="#create" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-user-edit"></i> <span class="align-middle">Create</span>
						</a>
						<ul id="create" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/create/user">User</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Vendor</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Item</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Stand</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Type of Storage</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-header">
						Edit
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-item">
						<a data-bs-target="#edit" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-edit"></i> <span class="align-middle">Edit</span>
						</a>
						<ul id="edit" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/">User</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Vendor</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Item</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Stand</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Type of Storage</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-header">
						Notifications
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-item">
						<a data-bs-target="#notifications" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-exclamation-triangle"></i> <span class="align-middle">Notifications</span>
						</a>
						<ul id="notifications" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/">Notifications</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-header">
						Reports
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-item">
						<a data-bs-target="#reports" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-file"></i> <span class="align-middle">Reports</span>
						</a>
						<ul id="reports" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/">Order Report By Vendor</a></li>
							<li class="sidebar-item"><a class="sidebar-link" href="/">Order Report</a></li>
						</ul>
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-header">
						Settings
					</li>
					<li sec:authorize="hasRole('MANAGER')" class="sidebar-item">
						<a data-bs-target="#settings" data-bs-toggle="collapse" class="sidebar-link collapsed">
							<i class="align-middle me-2 fas fa-fw fa-cog"></i> <span class="align-middle">Settings</span>
						</a>
						<ul id="settings" class="sidebar-dropdown list-unstyled collapse " data-bs-parent="#sidebar">
							<li class="sidebar-item"><a class="sidebar-link" href="/">Warning / Danger Settings</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div class="main">
			<nav th:fragment="navbarMain" class="navbar navbar-expand navbar-theme">
				<a class="sidebar-toggle d-flex me-2">
					<i class="hamburger align-self-center"></i>
				</a>
				<div class="navbar-collapse collapse">
					<ul class="navbar-nav ms-auto">
						<li class="nav-item dropdown ms-lg-2">
							<a class="nav-link dropdown-toggle position-relative" href="#" id="userDropdown" data-bs-toggle="dropdown">
								<i class="align-middle fas fa-cog"></i>
							</a>
							<div class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
								<a class="dropdown-item" href="/auth/login"><i class="align-middle me-1 fas fa-fw fa-user"></i>Sign In</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/logout"><i class="align-middle me-1 fas fa-fw fa-arrow-alt-circle-right"></i> Sign out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>
			<main layout:fragment="mainSection">
				<p>Main section is here</p>
			</main>
		</div>
	</div>
	<script src="/js/app.js"></script>

	<script layout:fragment="customJS">

	</script>
</body>
</html>