<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template/navbar.html}">
<head>
    <title>Title</title>
</head>
<body>
    <main class="content" layout:fragment="mainSection">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    View Types of Storage
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Types of Storage</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">View Types of Storage</h5>
                            <h6 class="card-subtitle text-muted">View all types of storage</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
	                            <table id="tosTable" class="table table-striped">
	                                <thead>
	                                    <tr>
	                                        <th>Type of Storage Name</th>
	                                        <th>Additional Information</th>
	                                        <th>Actions</th>
	                                    </tr>
	                                </thead>
                            	</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="editStorage">
       		<div class="modal" id="editModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Storage</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form id="editStorageForm">
							<div class="modal-body m-3">
								<div class="mb-3">
									<input type="hidden" id="editStorageId">
	                                <label for="editStorageName">Type of Storage Name</label>
	                                <input type="text" class="form-control" id="editStorageName" name="editStorageName" placeholder="Type of Storage">
	                            </div>
	                            <div class="mb-3">
	                               	<label for="additionalInfo">Additional Information</label>
	                                <textarea type="text" class="form-control" id="editAdditionalInfo" name="additionalInfo" placeholder="Additional Information"></textarea>
	                            </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary editStorageForm">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
        <div class="additionalInfoModal">
       		<div class="modal" id="additionalInfoModalSub" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View Additional Information</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body m-3">
							<div class="mb-3 text-center">
								<p>Additional Information</p>
								<textarea id="additionalInfoTextArea" class="additionalInfoTextArea" style="min-width: 100%" readonly></textarea>
                            </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="deleteStorage">
        	<form id="deleteStorageForm">
        		<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Delete Storage</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-3">
								<div class="mb-3">
									<p>Are you sure you want to delete this type of storage?</p>
									<p>WARNING: Deleting this type of storage will remove the type of storage from all products associated to this type of storage</p>
									<p>The products will still be there but the type of storage will be gone</p> 
									<input type="hidden" id="deleteStorageId">
	                            </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger" id="deleteStorageButton">Delete Vendor</button>
							</div>
						</div>
					</div>
				</div>
        	</form>
        </div>
    </main>

    <script layout:fragment="customJS">

        document.addEventListener("DOMContentLoaded", function() {
        	
        	var table = $('#tosTable').DataTable({
				"processing": false,
				"info": false,
				"autoWidth": false,
				"ajax": {
		            "url": "/view/typeOfStorage/getAllTypesOfStorage",
		            "type": "POST",
		            "dataType": "json",
		            "contentType": "application/json",
		            "dataSrc": '',
		            "data": function (d) {
		                return JSON.stringify(d);
		            	}
		          	},
					"columns": [
						{"data": "name"}
					],
					"columnDefs": [
						{
							"targets": [1],
							"searchable": false,
							"defaultContent": '<button class="btn viewAdditionalInfo"><i class="align-middle fas fa-fw fa-eye"></i></button>'
						},
						{
							"targets": [2],
							"searchable": false,
							"defaultContent": '<button class="btn editButton"><i class="align-middle fas fa-fw fa-pen"></i></button>' +
											  '<button class="btn deleteButton"><i class="align-middle fas fa-fw fa-trash"></i></button>'
						}
				]
			});
        	
        	$('#tosTable tbody').on('click', '.viewAdditionalInfo', function(event){
				var data = table.row( $(this).parents('tr') ).data();
				$('.additionalInfoModal #additionalInfoTextArea').val(data.additionalInfo);
				$('.additionalInfoModal #additionalInfoModalSub').modal('show');
			});
        	
        	$('#tosTable tbody').on('click', '.editButton', function(event){
				var data = table.row( $(this).parents('tr') ).data();
				$('.editStorage #editStorageId').val(data.id);
    			$('.editStorage #editStorageName').val(data.name);
    			$('.editStorage #editAdditionalInfo').val(data.additionalInfo);
    			$('.editStorage #editModal').modal('show');
			});
        	
        	$('#tosTable tbody').on('click', '.deleteButton', function(event){
				var data = table.row( $(this).parents('tr') ).data();
				$('.deleteStorage #deleteStorageId').val(data.id);
				$('.deleteStorage #deleteModal').modal('show');
			});
        	
        	// Prevent submit
        	$('#editStorageForm').on('submit', function(event){
        		event.preventDefault();
        	});
        	
        	// Handle delete submit button function here since we are not using validation
        	$('#deleteStorageForm').on('submit', function(event){
        		event.preventDefault();
        		$.post('/view/typeOfStorage/deleteStorage', {id: $('.deleteStorage #deleteStorageId').val()}, function(data){
        			if(data) {
        				table.ajax.reload();
        			} else {
        				message = "You can't delete this type of storage. You still have items associated to this type of storage. If you wish to delete this type of storage delete all items associated to this type of storage.";
        				title = "Sorry!";
        				type = "error";
        			    toastr[type](message, title);
        			}
        		});
        		$('.deleteStorage #deleteModal').modal('hide');
        	});
        	
        	// Validate the results of saving the changes to the vendor
        	$("#validateForm").validate({
        		rules: {
        			editStorageName: {
        				required: true
        			},
        			additionalInfo: {
        				maxlength: 500
        			}
        		},
				messages: {
					vendorName: "Type of storage name is required",
					additionalInfo: "Additional information can not be more than 500 characters"
				},
        		// Errors
				errorPlacement: function errorPlacement(error, element) {
					error.addClass('jquery-validation-error small form-text invalid-feedback')
					element.parent().append(error);
				},
				highlight: function(element) {
					var $el = $(element);
					var $parent = $el.parents(".error-placeholder");
					$el.addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).parents().find(".is-invalid").removeClass("is-invalid");
				},
				submitHandler: function(form) {
            		var storageId = $('#editStorageId').val();
            		var typeOfStorageName = $('#editStorageName').val();
            		var additionalInfo = $('#editAdditionalInfo').val();
            		$.post('/view/typeOfStorage/editStorage', 
            				{id: storageId, name: typeOfStorageName, additionalInfo: additionalInfo}, 
            				function(returnedData){
            					table.ajax.reload();
            				});
            		$('.editStorage #editModal').modal('hide');
				}
        	});
        	
        });

    </script>
</body>
</html>