<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template/navbar.html}">
<head>
    <title>Storage Items</title>
</head>
<body>
    <main class="content" layout:fragment="mainSection">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    View Storage Items
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Storage Items</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">View Storage Items</h5>
                            <h6 class="card-subtitle text-muted">View all storage items</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
	                            <table id="storageItemTable" class="table table-striped">
	                                <thead>
	                                    <tr>
	                                    	<th>Id</th>
	                                        <th>Name</th>
	                                        <th>Amount in Storage</th>
	                                        <th>Amount Expected</th>
	                                        <th>Stored In</th>
	                                        <th>Type of Storage</th>
	                                        <th>Vendor</th>
	                                        <th>Type of Storage Entity</th>
	                                        <th>Additional Information</th>
	                                        <th>Actions</th>
	                                    </tr>
	                                </thead>
                            	</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="editStorageItem">
       		<div class="modal" id="editModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Storage Item</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form id="editStorageItemForm">
							<div class="modal-body m-3">
								<div class="mb-3">
									<input type="hidden" id="editStorageItemId">
	                                <label for="editStorageItemName">Stand Name</label>
	                                <input type="text" class="form-control" id="editStorageItemName" name="editStorageItemName" placeholder="Item Name">
	                            </div>
	                            <div class="mb-3">
                                    <label for="editAmount">Amount in Storage</label>
                                    <input type="number" class="form-control" id="editAmount" name="editAmount" placeholder="0">
                                </div>
                                <div class="mb-3">
                                    <label for="editAmountExpected">Amount Expected in Storage</label>
                                    <input type="number" class="form-control" id="editAmountExpected" name="editAmountExpected" placeholder="0">
                                </div>
                                <div class="mb-3">
                                	<label for="editstoredType">Item is stored as</label>
                                	<select class="form-control selectpicker" id="editstoredType" name="editstoredType">
	                					<option th:each="storeType : ${T(com.southwicksstorage.southwicksstorage.constants.StorageType).values()}"
	                							th:text = "${storeType.getStorageTypeName}"
	                							th:value = "${storeType}">storeType
	                					</option>
	                				</select>
                            	</div>
                                <div class="mb-3">
                                    <label for=""editVendor"">Vendor For Item</label>
                                    <select class="form-control selectpicker" id="editVendor" name="editVendor">
					              		<option th:each="vendorEach : ${vendorList}"
					              				th:text = "${vendorEach.vendorName}"
					              				th:value = "${vendorEach.id}">vendor
					              		</option>
					              	</select>
                                </div>
                                <div class="mb-3">
                                    <label for="editTypeOfStorage">This item is stored in a</label>
                                    <div th:if="${typeOfStorageList != null}">
                                    	<select class="form-control selectpicker" id="editTypeOfStorage" name="editTypeOfStorage">
                                    		<option value="-1">None</option>
						               		<option th:each="typeOfStorageEach : ${typeOfStorageList}"
						               				th:text = "${typeOfStorageEach.name}"
						               				th:value = "${typeOfStorageEach.id}">typeOfStorage
						               		</option>
					               		</select>
                                    </div>
                                    <div th:if="${typeOfStorageList == null}">
                                    	<span class="font-13 text-muted">To use this create a <a href="/create/typeOfStorage">type of storage</a></span>
                                    	<select class="form-control selectpicker" id="editTypeOfStorage" disabled>
						               		<option text="Not Available" value="-1"> </option>
						               	</select>
                                    </div>
                                </div>
	                            <div class="mb-3">
	                               	<label for="additionalInfo">Additional Information</label>
	                                <textarea type="text" class="form-control" id="editAdditionalInfo" name="additionalInfo" placeholder="Additional Information"></textarea>
	                            </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary editStorageItemForm">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
        <div class="additionalInfoModal">
       		<div class="modal" id="additionalInfoModalSub" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View Additional Information</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body m-3">
							<div class="mb-3 text-center">
								<p>Additional Information</p>
								<textarea id="additionalInfoTextArea" class="additionalInfoTextArea" style="min-width: 100%" readonly></textarea>
                            </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="deleteStorageItem">
        	<form id="deleteStorageItemForm">
        		<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Delete Item</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-3">
								<div class="mb-3">
									<p>Are you sure you want to delete this item?</p>
									<p><span class="fw-bold text-danger">WARNING:</span> By deleting the stand you will delete the item forever and you will delete the items in the stands</p>
									<input type="hidden" id="deleteStorageItemId">
	                            </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger" id="deleteStorageItemButton">Delete Item</button>
							</div>
						</div>
					</div>
				</div>
        	</form>
        </div>
        <div class="createStorageItem">
       		<div class="modal" id="createModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Create Storage Item</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body m-3">
							<div class="mb-3">
								<div th:if="${vendorList != null}" class="validForm">
									<form id="submitValidForm">
	                                	<div class="row">
		                                    <div class="col-md-8">
		                                        <div class="mb-3">
		                                            <label for="name">Storage Item Name</label>
		                                            <input type="text" class="form-control" id="createName" name="name" placeholder="Storage Item Name">
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="amount">Amount in Storage</label>
		                                            <input type="number" class="form-control" id="createAmount" name="amount" placeholder="0">
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="amountExpected">Amount Expected in Storage</label>
		                                            <input type="number" class="form-control" id="createAmountExpected" name="amountExpected" placeholder="0">
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="storedType">Item is stored as</label>
		                                            <select class="form-control selectpicker" id="createStoredType" name="storedType">
								                		<option th:each="storeType : ${T(com.southwicksstorage.southwicksstorage.constants.StorageType).values()}"
								                				th:text = "${storeType.getStorageTypeName}"
								                				th:value = "${storeType}">storeType
								                		</option>
								                	</select>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="vendor">Vendor For Item</label>
		                                            <select class="form-control selectpicker" id="createVendor" name="vendor">
								                		<option th:each="vendorEach : ${vendorList}"
								                				th:text = "${vendorEach.vendorName}"
								                				th:value = "${vendorEach.id}">vendor
								                		</option>
								                	</select>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="typeOfStorage">This item is stored in a</label>
		                                            <div th:if="${typeOfStorageList != null}">
		                                            	<select class="form-control selectpicker" id="createTypeOfStorage" name="typeOfStorage">
									                		<option value="-1">None</option>
									                		<option th:each="typeOfStorageEach : ${typeOfStorageList}"
									                				th:text = "${typeOfStorageEach.name}"
									                				th:value = "${typeOfStorageEach.id}">typeOfStorage
									                		</option>
									                	</select>
		                                            </div>
		                                            <div th:if="${typeOfStorageList == null}">
		                                            	<span class="font-13 text-muted">To use this create a <a href="/create/typeOfStorage">type of storage</a></span>
		                                            	<select class="form-control selectpicker" id="createTypeOfStorage" name="typeOfStorage" disabled>
									                		<option text="Not Available" value="-1"> </option>
									                	</select>
		                                            </div>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="lastName">Additional Information</label>
		                                            <textarea type="text" class="form-control" id="createAdditionalInfo" name="additionalInfo" placeholder="Additional Information"></textarea>
		                                        </div>
		                                    </div>
		                                </div>
	                            	</form>
								</div>
								<div th:if="${vendorList == null}" class="inValidForm">
									<form>
	                                	<div class="row">
		                                    <div class="col-md-8">
		                                    	<p class="fw-bold">To create an item please create a <a href="/create/vendor">vendor</a> first</p>
		                                        <div class="mb-3">
		                                            <label for="name">Storage Item Name</label>
		                                            <input type="text" class="form-control" id="invalidName" placeholder="Storage Item Name" disabled>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="amount">Amount in Storage</label>
		                                            <input type="number" class="form-control" id="invalidAmount" placeholder="0" disabled>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="amountExpected">Amount Expected in Storage</label>
		                                            <input type="number" class="form-control" id="invalidAmountExpected" placeholder="0" disabled>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="storedType">Item is stored as</label>
		                                            <select class="form-control selectpicker" id="invalidStoredType" disabled>
								                		<option th:each="storeType : ${T(com.southwicksstorage.southwicksstorage.constants.StorageType).values()}"
								                				th:text = "${storeType.getStorageTypeName}"
								                				th:value = "${storeType}">storeType
								                		</option>
								                	</select>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="vendor">Vendor For Item</label>
		                                            <select class="form-control selectpicker" id="invalidVendor" disabled>
								                		<option th:each="vendorEach : ${vendorList}"
								                				th:text = "${vendorEach.vendorName}"
								                				th:value = "${vendorEach.id}">vendorEach
								                		</option>
								                	</select>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="typeOfStorage">This item is stored in a</label>
		                                            <div th:if="${typeOfStorageList != null}">
		                                            	<select class="form-control selectpicker" id="invalidTypeOfStorage" disabled>
									                		<option value="-1">None</option>
									                		<option th:each="typeOfStorageEach : ${typeOfStorageList}"
									                				th:text = "${typeOfStorageEach.name}"
									                				th:value = "${typeOfStorageEach.id}">typeOfStorageEach
									                		</option>
									                	</select>
		                                            </div>
		                                            <div th:if="${typeOfStorageList == null}">
		                                            	<span class="font-13 text-muted">To use this create a <a href="/create/typeOfStorage">type of storage</a></span>
		                                            	<select class="form-control selectpicker" id="invalidTypeOfStorage" disabled>
									                		<option text="Not Available" value="-1"></option>
									                	</select>
		                                            </div>
		                                        </div>
		                                        <div class="mb-3">
		                                            <label for="lastName">Additional Information</label>
		                                            <textarea type="text" class="form-control" id="invalidAdditionalInfo" placeholder="Additional Information" disabled></textarea>
		                                        </div>
		                                    </div>
		                                </div>
	                            	</form>	
								</div>
                            </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary" id="createStorageItemButton" form="submitValidForm">Create Storage Item</button>
						</div>
					</div>
				</div>
			</div>
        </div>
    </main>

    <script layout:fragment="customJS">
		$.fn.dataTable.ext.buttons.create = {
		    text: 'Create',
		    action: function ( e, dt, node, config ) {
		    	$('.createStorageItem #createModal').modal('show');
		    }
		};

		document.addEventListener("DOMContentLoaded", function() {
        	
			var table = $('#storageItemTable').DataTable({
				lengthChange: !1,
				buttons: ["create", {
					extend: "print",
					exportOptions: {
						columns: [1, 2, 3, 4, 5, 6]
					}
				}],
				"processing": false,
				"info": false,
				"ajax": {
		            "url": "/view/storageItem/getAllStorageItems",
		            "type": "POST",
		            "dataType": "json",
		            "contentType": "application/json",
		            "dataSrc": '',
		            "data": function (d) {
		                return JSON.stringify(d);
		          	}
				},
				"columns": [
					{"data": "id"},
					{"data": "name"},
					{"data": "amount"},
					{"data": "amountExpected"},
					{"data": "storedType"},
					{"data": "typeOfStorage"},
					{"data": "vendor.vendorName"},
					{"data": "typeOfStorageEntity"}
				],
				"columnDefs": [
					{
						"targets": [0],
						"visible": false,
						"searchable": false
					},
					{
						"targets": [8],
						"searchable": false,
						"defaultContent": '<button class="btn viewAdditionalInfo"><i class="align-middle fas fa-fw fa-eye"></i></button>'
					},
					{
						"targets": [9],
						"searchable": false,
						"defaultContent": '<button class="btn editButton"><i class="align-middle fas fa-fw fa-pen"></i></button>' +
										  '<button class="btn deleteButton"><i class="align-middle fas fa-fw fa-trash"></i></button>'
					},
					{
						"targets": [7],
						"visible": false,
						"searchable": false
					},
				],
				dom: 'Bfrtip',
				"autoWidth": false
			});
			
			$('#storageItemTable tbody').on('click', '.viewAdditionalInfo', function(event){
				var data = table.row( $(this).parents('tr') ).data();
				$('.additionalInfoModal #additionalInfoTextArea').val(data.additionalInfo);
				$('.additionalInfoModal #additionalInfoModalSub').modal('show');
			});
			
			$('#storageItemTable tbody').on('click', '.editButton', function(event){
				var data = table.row( $(this).parents('tr') ).data();
    			$('.editStorageItem #editStorageItemId').val(data.id);
    			$('.editStorageItem #editStorageItemName').val(data.name);
    			$('.editStorageItem #editAmount').val(data.amount);
    			$('.editStorageItem #editAmountExpected').val(data.amountExpected);
    			$('.editStorageItem #editstoredType').val(data.storedTypeEnum);
    			$('.editStorageItem #editVendor').val(data.vendor.id);
    			if(data.typeOfStorageEntity !== null) {
    				$('.editStorageItem #editTypeOfStorage').val(data.typeOfStorageEntity.id);
    			} else {
    				$('.editStorageItem #editTypeOfStorage').val(-1);
    			}
    			$('.editStorageItem #editAdditionalInfo').val(data.additionalInfo);
				$('.editStorageItem #editModal').modal('show');
			});
			
			$('#storageItemTable tbody').on('click', '.deleteButton', function(event){
				var data = table.row( $(this).parents('tr') ).data();
				$('.deleteStorageItem #deleteStorageItemId').val(data.id);
				$('.deleteStorageItem #deleteModal').modal('show');
			});
        	
        	// Prevent submit
        	$('#editStorageItemForm').on('submit', function(event){
        		event.preventDefault();
        	});
        	
        	// Handle delete submit button function here since we are not using validation
        	$('#deleteStorageItemForm').on('submit', function(event){
        		event.preventDefault();
        		$.post('/view/storageItem/deleteItem', {id: $('.deleteStorageItem #deleteStorageItemId').val()}, function(data){
        			if (data) {
        				table.ajax.reload();
        			} else {
        				message = "You can't delete this storage item. You still have stand items associated to this storage item. If you wish to delete the storage item please delete all stand items associated to this storage item.";
        				title = "Sorry!";
        				type = "error";
        			    toastr[type](message, title);
        			}
        		});
        		$('.deleteStorageItem #deleteModal').modal('hide');
        	});
        	
        	if("[[${modalMessage}]]" == "There was an error in creating the item") {
        		$('.createStorageItem #createModal').modal('show');
        	}
        	
        	// Validate the results of saving the changes to the vendor
        	$("#editStorageItemForm").validate({
        		rules: {
        			editStorageItemName: {
        				required: true
        			},
        			editAmount: {
        				min: 0
        			},
        			editAmountExpected: {
        				min: 0
        			},
        			additionalInfo: {
        				maxlength: 500
        			}
        		},
				messages: {
					editStorageItemName: "Storage item name can not be blank",
					editAmount: "The amount in storage can not be less than 0",
					editAmountExpected: "The amount expected per week can not be less than 0",
					additionalInfo: "Additional information can not be more than 500 characters"
				},
        		// Errors
				errorPlacement: function errorPlacement(error, element) {
					error.addClass('jquery-validation-error small form-text invalid-feedback')
					element.parent().append(error);
				},
				highlight: function(element) {
					var $el = $(element);
					var $parent = $el.parents(".error-placeholder");
					$el.addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).parents().find(".is-invalid").removeClass("is-invalid");
				},
				submitHandler: function(form) {
            		var storageItemId = $('#editStorageItemId').val();
            		var storageItemName = $('#editStorageItemName').val();
            		var amount = $('#editAmount').val();
            		var amountExpected = $('#editAmountExpected').val();
            		var storedType = $('#editstoredType').val();
            		var vendor = $('#editVendor').val();
            		var typeOfStorage = $('#editTypeOfStorage').val();
            		var additionalInfo = $('#editAdditionalInfo').val();
            		$.post('/view/storageItem/editItem', 
            				{id: storageItemId, name: storageItemName, amount: amount, amountExpected: amountExpected, storedType: storedType, vendor: vendor, typeOfStorage: typeOfStorage, additionalInfo: additionalInfo}, 
            				function(storageItem){
            					table.ajax.reload();
            				});
            		$('.editStorageItem #editModal').modal('hide');
				}
        	});
        	
        	// Validate the results of saving the changes to the vendor
        	$("#submitValidForm").validate({
        		rules: {
        			name: {
        				required: true,
        				remote: {
        					param: {
        						url: '/view/storageItem/itemExists',
        						type: 'POST',
        						data: {
        							vendorId: function() {
            							return ($('#createVendor').val());
            						}
        						}
        					}
        				}
        			},
        			amount: {
        				required: true,
        				min: 0
        			},
        			amountExpected: {
        				required: true,
        				min: 0
        			},
        			additionalInfo: {
        				max: 500
        			},
        			storedType: {
        				required: true
        			},
        			vendor: {
        				required: true
        			}
        		},
				messages: {
					name: {
						required: "Item name is required",
						remote: "Item name for this vendor already exists"
					},
					amount: {
						min: "Amount can not be less than 0",
						required: "Amount can not be empty"
					},
					amountExpected: {
						min: "Amount expected per week can not be less than 0",
						required: "Amount expected per wekk can not be empty"
					},
					storedType: "Storage type can not be empty",
					vendor: "Vendor can not be empty"
				},
        		// Errors
				errorPlacement: function errorPlacement(error, element) {
					error.addClass('jquery-validation-error small form-text invalid-feedback')
					element.parent().append(error);
				},
				highlight: function(element) {
					var $el = $(element);
					var $parent = $el.parents(".error-placeholder");
					$el.addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).parents().find(".is-invalid").removeClass("is-invalid");
				},
				submitHandler: function(form) {
            		var storageItemName = $('#createName').val();
            		var amount = $('#createAmount').val();
            		var amountExpected = $('#createAmountExpected').val();
            		var storedType = $('#createStoredType').val();
            		var vendor = $('#createVendor').val();
            		var typeOfStorage = $('#createTypeOfStorage').val();
            		var additionalInfo = $('#createAdditionalInfo').val();
            		$.post('/view/storageItem/addStorageItem', 
            				{name: storageItemName, amount: amount, amountExpected: amountExpected, storedType: storedType, vendorId: vendor, typeOfStorageId: typeOfStorage, additionalInfo: additionalInfo}, 
            				function(data){
            					if(data) {
            						table.ajax.reload();
            					} else {
            						message = "It looks like something went wrong on our end. Please try again. If this keeps happening please contact Kyle";
        	        				title = "Sorry!";
        	        				type = "error";
        	        			    toastr[type](message, title);
            					}
            				});
            		$('.createStorageItem #createModal').modal('hide');
				}
        	});
        	
        	setInterval(function() {
        		table.ajax.reload();
        	}, 3000);
        	
        });

    </script>
</body>
</html>