<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template/navbar.html}">
<head>
    <title>Title</title>
</head>
<body>
    <main class="content" layout:fragment="mainSection">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    View Stand
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">View Stand</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">View Stand</h5>
                            <h6 class="card-subtitle text-muted">View all stands</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
	                            <table id="datatables-basic" class="table table-striped">
	                                <thead>
	                                    <tr>
	                                        <th>Stand Name</th>
	                                        <th>Additional Information</th>
	                                        <th>Actions</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <tr th:each="stand : ${standList}">
	                                    	<td style="display:none;"><span th:text="${stand.id}" class="standIdClass">Vendor Id</span></td>
	                                        <td><span th:text="${stand.name}" class="standNameClass">Stand name</span></td>
	                                        <td class="table-action">
	                                        	<a th:href="@{stand/findById/(id=${stand.id})}" class="btn viewAdditionalInfo"><i class="align-middle fas fa-fw fa-eye"></i></a>
	                                        </td>
	                                        <td class="table-action">
	                                            <a th:href="@{stand/findById/(id=${stand.id})}" class="btn editButton"><i class="align-middle fas fa-fw fa-pen"></i></a>
												<a th:href="@{stand/findById/(id=${stand.id})}" class="btn deleteButton"><i class="align-middle fas fa-fw fa-trash"></i></a>
	                                        </td>
	                                    </tr>
	                                </tbody>
                            	</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="editStand">
       		<div class="modal" id="editModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Edit Stand</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<form id="editStandForm">
							<div class="modal-body m-3">
								<div class="mb-3">
									<input type="hidden" id="editStandId">
	                                <label for="standName">Stand Name</label>
	                                <input type="text" class="form-control" id="editStandName" name="editStandName" placeholder="Stand Name">
	                            </div>
	                            <div class="mb-3">
	                               	<label for="additionalInfo">Additional Information</label>
	                                <textarea type="text" class="form-control" id="editAdditionalInfo" name="additionalInfo" placeholder="Additional Information"></textarea>
	                            </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-primary editStandForm">Save changes</button>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
        <div class="additionalInfoModal">
       		<div class="modal" id="additionalInfoModalSub" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">View Additional Information</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body m-3">
							<div class="mb-3 text-center">
								<p>Additional Information</p>
								<textarea id="additionalInfoTextArea" class="additionalInfoTextArea" style="min-width: 100%" readonly></textarea>
                            </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>
        </div>
        <div class="deleteStand">
        	<form id="deleteStandForm">
        		<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title">Delete Stand</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body m-3">
								<div class="mb-3">
									<p>Are you sure you want to delete this stand?</p>
									<p>WARNING: By deleting the stand you will delete the stand including the items in the stand</p>
									<p>It will not delete the storage items just the list of items in the stand</p>
									<input type="hidden" id="deleteStandId">
	                            </div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
								<button type="submit" class="btn btn-danger" id="deleteStandButton">Delete Stand</button>
							</div>
						</div>
					</div>
				</div>
        	</form>
        </div>
    </main>

    <script layout:fragment="customJS">
		var editButton = '';
		var deleteButton = '';
		
		// Datatable
        document.addEventListener("DOMContentLoaded", function() {
			$('#datatables-basic').DataTable({
			});
		});

        $(document).ready(function() {
        	// Prevent submit
        	$('#editStandForm').on('submit', function(event){
        		event.preventDefault();
        	});
        	
        	// Handle delete submit button function here since we are not using validation
        	$('#deleteStandForm').on('submit', function(event){
        		event.preventDefault();
        		$.post('/view/stand/deleteStand', {id: $('.deleteStand #deleteStandId').val()}, function(e){
        			
        		});
        		deleteButton.parent().parent().remove();
        		$('.deleteStand #deleteModal').modal('hide');
        	});
        	
        	// Validate the results of saving the changes to the vendor
        	$("#editStandForm").validate({
        		rules: {
        			editStandName: {
        				required: true
        			},
        			additionalInfo: {
        				maxlength: 500
        			}
        		},
				messages: {
					editStandName: "Stand name is required",
					additionalInfo: "Additional information can not be more than 500 characters"
				},
        		// Errors
				errorPlacement: function errorPlacement(error, element) {
					error.addClass('jquery-validation-error small form-text invalid-feedback')
					element.parent().append(error);
				},
				highlight: function(element) {
					var $el = $(element);
					var $parent = $el.parents(".error-placeholder");
					$el.addClass("is-invalid");
				},
				unhighlight: function(element) {
					$(element).parents().find(".is-invalid").removeClass("is-invalid");
				},
				submitHandler: function(form) {
            		var standID = $('#editStandId').val();
            		var standName = $('#editStandName').val();
            		var additionalInfo = $('#editAdditionalInfo').val();
            		$.post('/view/stand/editStand', 
            				{id: standID, name: standName, additionalInfo: additionalInfo}, 
            				function(returnedData){
            					editButton.parent().parent().children().find(".standNameClass").text(returnedData[0].name);
            				});
            		$('.editStand #editModal').modal('hide');
				}
        	});
        	
        	// Take care of populating fields to edit
        	$('.table .editButton').on('click', function(event) {
        		event.preventDefault();
        		var href = $(this).attr('href');
        		editButton = $(this);
        		$.get(href, function(stand, status){
        			$('.editStand #editStandId').val(stand.id);
        			$('.editStand #editStandName').val(stand.name);
        			$('.editStand #editAdditionalInfo').val(stand.additionalInfo);
        		});
        		
        		// Show edit modal
        		$('.editStand #editModal').modal('show');
        		
        	});
        	
        	// Populate delete vendor modal
        	$('.table .deleteButton').on('click', function(event) {
        		event.preventDefault();
        		deleteButton = $(this);
        		var href = $(this).attr('href');
        		$.get(href, function(storage, status){
        			$('.deleteStand #deleteStandId').val(storage.id);
        		});
        		
        		$('.deleteStand #deleteModal').modal('show');
        	});
        	
        	// Bring up a modal to show different modals
        	$('.table .viewAdditionalInfo').on('click', function(event) {
        		event.preventDefault();
        		var href = $(this).attr('href');
        		$.get(href, function(vendor, status) {
        			$('.additionalInfoModal #additionalInfoTextArea').val(vendor.additionalInfo);
        		});
        		
        		$('.additionalInfoModal #additionalInfoModalSub').modal('show');
        	});
        	
        	// Get all rows
        	var rows = $($('.table').children('tbody').children('tr'));
        	
        	// Update the table (this is used to update all clients)
        	function updateTable() {
        		$.get('/view/stand/getAllStands', function(data){
            		for(index = 0; index < data.length; index++){
            			for(innerIndex = 0; innerIndex < rows.length; innerIndex++){
            				if($(rows[innerIndex]).find(".standIdClass").text() == data[index].id){
            					var tr = $(rows[innerIndex]);
            					tr.find('.standNameClass').text(data[index].vendorName);
            				}
            			}
            		}
            	});
        	}
        	
        	// Update every 5 seconds
        	setInterval(updateTable, 5000);
        	
        });

    </script>
</body>
</html>