<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{template/navbar.html}">
<head>
    <title>Title</title>
</head>
<body>
    <main class="content" layout:fragment="mainSection">
        <div class="container-fluid">
            <div class="header">
                <h1 class="header-title">
                    Notifications
                </h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Notifications</li>
                    </ol>
                </nav>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">View Notifications</h5>
                            <h6 class="card-subtitle text-muted">View all notifications</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
	                            <table id="datatables-basic" class="table">
	                                <thead>
	                                    <tr>
	                                        <th>Notification Type</th>
	                                        <th>Notification Message</th>
	                                        <th>Actions</th>
	                                    </tr>
	                                </thead>
	                                <tbody>
	                                    <div th:each="notifications : ${userNotifications}">
											<div th:if="${notifications.isVisible}">
												<div th:switch="${notifications.notificationType.getType()}">
		                                    		<tr th:case="'INFO'" class="table-primary">
		                                    			<td>
		                                    				<i class="align-middle fas fa-fw fa-1x fa-circle text-primary"></i>
		                                    			</td>
				                                        <td><p th:class="${!notifications.isRead ? 'fw-bolder' : 'fw-normal'}"><span class="spanClass" th:text="${notifications.message.message}">Notification Message</span></p></td>
				                                        <td class="table-action">
				                                            <a th:href="@{readNotification/(id=${notifications.id})}" class="btn readButton"><i class="align-middle fas fa-1x fa-fw fa-eye"></i></a>
															<a th:href="@{findById/(id=${notifications.id})}" class="btn deleteButton"><i class="align-middle fas fa-1x fa-fw fa-trash"></i></a>
				                                        </td>
				                                    </tr>
		                                    		<tr th:case="'SUCCESS'" class="table-success">
		                                    			<td>
		                                    				<i class="align-middle fas fa-fw fa-1x fa-check-circle text-success"></i>
		                                    			</td>
				                                        <td><p th:class="${!notifications.isRead ? 'fw-bolder' : 'fw-normal'}"><span class="spanClass" th:text="${notifications.message.message}">Notification Message</span></p></td>
				                                        <td class="table-action">
				                                            <a th:href="@{readNotification/(id=${notifications.id})}" class="btn readButton"><i class="align-middle fas fa-1x fa-fw fa-eye"></i></a>
															<a th:href="@{findById/(id=${notifications.id})}" class="btn deleteButton"><i class="align-middle fas fa-1x fa-fw fa-trash"></i></a>
				                                        </td>
				                                    </tr>
		                                    		<tr th:case="'WARNING'" class="table-warning">
		                                    			<td>
		                                    				<i class="align-middle fas fa-fw fa-1x fa-exclamation-triangle text-warning"></i>
		                                    			</td>
				                                        <td><p th:class="${!notifications.isRead ? 'fw-bolder' : 'fw-normal'}"><span class="spanClass" th:text="${notifications.message.message}">Notification Message</span></p></td>
				                                        <td class="table-action">
				                                        	<a th:href="@{readNotification/(id=${notifications.id})}" class="btn readButton"><i class="align-middle fas fa-1x fa-fw fa-eye"></i></a>
															<a th:href="@{findById/(id=${notifications.id})}" class="btn deleteButton"><i class="align-middle fas fa-1x fa-fw fa-trash"></i></a>
				                                        </td>
				                                    </tr>
		                                    		<tr th:case="'ERROR'" class="table-danger">
				                                        <td>
		                                    				<i class="align-middle fas fa-fw fa-1x fa-times-circle text-danger"></i>
		                                    			</td>
				                                        <td><p th:class="${!notifications.isRead ? 'fw-bolder' : 'fw-normal'}"><span class="spanClass" th:text="${notifications.message.message}">Notification Message</span></p></td>
				                                        <td class="table-action">
				                                            <a th:href="@{readNotification/(id=${notifications.id})}" class="btn readButton"><i class="align-middle fas fa-1x fa-fw fa-eye"></i></a>
															<a th:href="@{findById/(id=${notifications.id})}" class="btn deleteButton"><i class="align-middle fas fa-1x fa-fw fa-trash"></i></a>
				                                        </td>
			                                    	</tr>
		                                    	</div>
											</div>
	                                    </div>
	                                </tbody>
                            	</table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="deleteNotification">
       		<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">Delete Notification</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body m-3">
							<div class="mb-3">
								<p>Are you sure you want to delete this notification?
                            </div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
							<button type="button" class="btn btn-danger deleteNotificationForm" data-bs-dismiss="modal">Delete Notification</button>
						</div>
					</div>
				</div>
			</div>
		</div>
    </main>

    <script layout:fragment="customJS">

    	var notiId = 0;
        document.addEventListener("DOMContentLoaded", function() {
			// Datatables basic
			$('#datatables-basic').DataTable({
				//responsive: true
			});
		});
        
        $('.table .readButton').on('click', function(event) {
        	event.preventDefault();
        	var href = $(this).attr('href');
        	// Unbold to show that the notification has been read
        	$(this).parent().parent().find(".fw-bolder").removeClass('fw-bolder');
        	$.ajax({
        		url: href,
        		type: 'GET',
        		dataType: 'html',
        		success: function(response) {
        			
        			$.ajax({
        				url: '/notification/getNewNotifications',
        				type: 'GET',
        				dataType: 'json',
        				success: function(secondResponse) {
        					if(!secondResponse.length) {
        						$("span.sidebar-badge").remove();
        					} else {
        						var notiTypes = [];
        						for(var index in secondResponse) {
        							notiTypes[notiTypes.length] = secondResponse[index].notificationType;
        						}
        						if(jQuery.inArray("ERROR", notiTypes) !== -1) {
        							$("span.sidebar-badge").removeClass('bg-warning').removeClass('bg-success').removeClass('bg-primary').addClass('bg-danger');
        						} else if(jQuery.inArray("WARNING", notiTypes) !== -1) {
        							$("span.sidebar-badge").removeClass('bg-danger').removeClass('bg-success').removeClass('bg-primary').addClass('bg-warning');
        						} else if(jQuery.inArray("SUCCESS", notiTypes) !== -1) {
        							$("span.sidebar-badge").removeClass('bg-warning').removeClass('bg-danger').removeClass('bg-primary').addClass('bg-success');
        						} else if(jQuery.inArray("INFO", notiTypes) !== -1) {
        							$("span.sidebar-badge").removeClass('bg-warning').removeClass('bg-success').removeClass('bg-danger').addClass('bg-primary');
        						}
        					}
        				},
        				error: function(res) {
        					console.log(res);
        				}
        			});
        		},
        		error: function(res) {
        			console.log(res);
        		}
        	});
        });
        
        $('.table .deleteButton').on('click', function(event) {
        	event.preventDefault();
        	var button = $(this);
        	$('.deleteNotification #deleteModal').modal('show');
    		var href = $(this).attr('href');
    		$.get(href, function(notification, status){
    			$('.deleteNotification .deleteNotificationForm').on('click', function(event) {
    				console.log(notification);
    				button.parent().parent().remove();
    				$.post('deleteNotification', {id: notification.id}, function(returnedData) {
    					$.ajax({
            				url: '/notification/getNewNotifications',
            				type: 'GET',
            				dataType: 'json',
            				success: function(secondResponse) {
            					if(!secondResponse.length) {
            						$("span.sidebar-badge").remove();
            					} else {
            						var notiTypes = [];
            						for(var index in secondResponse) {
            							notiTypes[notiTypes.length] = secondResponse[index].notificationType;
            						}
            						if(jQuery.inArray("ERROR", notiTypes) !== -1) {
            							$("span.sidebar-badge").removeClass('bg-warning').removeClass('bg-success').removeClass('bg-primary').addClass('bg-danger');
            						} else if(jQuery.inArray("WARNING", notiTypes) !== -1) {
            							$("span.sidebar-badge").removeClass('bg-danger').removeClass('bg-success').removeClass('bg-primary').addClass('bg-warning');
            						} else if(jQuery.inArray("SUCCESS", notiTypes) !== -1) {
            							$("span.sidebar-badge").removeClass('bg-warning').removeClass('bg-danger').removeClass('bg-primary').addClass('bg-success');
            						} else if(jQuery.inArray("INFO", notiTypes) !== -1) {
            							$("span.sidebar-badge").removeClass('bg-warning').removeClass('bg-success').removeClass('bg-danger').addClass('bg-primary');
            						}
            					}
            				},
            				error: function(res) {
            					console.log(res);
            				}
            			});
    				});
    			});
    		});
    		
        });
        
    </script>
</body>
</html>